[Desktop Entry]
Name=netGo
Comment=changing network-settings
Comment[pl]=zmiana ustawień sieciowych
Icon=netgo
Exec=netgo
Terminal=false
Type=Application
Categories=Qt;KDE;Network;
# vi: encoding=utf-8
